# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Entornos virtuales (no deben ir en la imagen)
.envOutfitForYou/
.venv/
venv/
env/
ENV/

# Archivos locales de configuración y entorno
.env
*.log

# Git y configuraciones de IDE
.git
.gitignore
.vscode/
.idea/

# Archivos de Docker que no se necesitan dentro del contenedor
docker-compose.yml
Dockerfile
